In [ ]:
import pandas as pd
import os
from IPython.display import display, HTML

In [7]:
!pwd

/Users/davidliu/co-occur_dm/dataset

In [5]:
folder = "../dataset"
os.chdir(folder)

In [19]:
exp_exp = pd.read_csv("explicit-explicit/pdtb3/complete_exp_exp_data_largest.csv")

In [26]:
exp_exp["Arg1 Complete"] = exp_exp["Arg1 Complete"].str.replace("\r\n", " ", regex=False)
exp_exp["Arg2 Complete"] = exp_exp["Arg2 Complete"].str.replace("\r\n", " ", regex=False)

In [ ]:
exp_exp["Explicit Connective2"]

In [ ]:
new = ''' 
His company, without any major effort, sells more machines in China than in Japan. Although it has opened a New Zealand subsidiary, it is still only "studying" Japan, the only nation that hasn't adopted IBM-oriented specifications.'''
exp_exp.loc[292, "Arg1 Complete"] = new

In [49]:
tdf = exp_exp[exp_exp["Arg1 Complete"].apply(lambda x: len(x) > len(t))]
HTML(tdf.to_html())

In [51]:
exp_exp["Explicit Connective2"].value_counts()

Explicit Connective2
when           61
if             55
while          38
as             24
because        17
with           14
before         13
although       11
though         10
after           8
even if         7
once            7
since           6
by              6
now that        5
even though     4
even when       3
instead of      3
even before     2
rather than     2
yet             1
no matter       1
therefore       1
as soon as      1
until           1
even after      1
Name: count, dtype: int64

# Save Cleaned Dataset

In [53]:
exp_exp.to_csv("exp_exp_topS.csv")

# View Dataset

In [ ]:
HTML(exp_exp.to_html())